/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #141414;
    color: #fff;
    padding: 30px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
}

nav>h1 {
    color: red;
}

nav>button {
    background-color: red;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding-top: 60px;
}

.hero h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.hero p {
    margin: 15px;
}

.hero input,
.hero button {
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    display: block;
}

.hero input {
    background: none;
    border: 1px solid gray;
    margin-right: 5px;
    width: 100%;
    margin-top: 20px;
}

.hero button {
    background-color: red;
    color: white;
}

.btn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Cards */

.movies-row>h3 {
    margin-top: 50px;
}

.cards img {
    width: 120px;
    border-radius: 9px;
    transition: transform 0.3s ease;

}

.cards img:hover {
    transform: scale(1.1);
}

/* carousel */

.carousel {
    position: relative;
}

.cards {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    justify-content: space-around;
    overflow-x: hidden;
    padding: 20px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: none;
    color: rgb(203, 200, 200);
    background-color: #363434;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 100px;
    border-radius: 10px;
    margin: 0 25px;
    font-weight: lighter;
}

.prev {
    left: -30px;
}

.next {
    right: -30px;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 480px;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    z-index: 10000;
    background-color: rgb(27, 26, 26);
    background-size: cover;
    border: 1px solid rgb(50, 48, 48);
}

.modal-close-btn {
    font-size: 42px;
    position: absolute;
    right: 25px;
    top: 15px;
}

.modal-desc {
    position: absolute;
    top: 45%;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.modal-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal p {
    line-height: 1.2;
}

.modal-btn {
    padding: 10px;
    background-color: red;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    width: 100%;
    border-radius: 4px;
}

.poster {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.poster-number {
  position: absolute;
  bottom: 8px;
  left: -10px;
  color: black;
  font-size: 52px;
  font-weight: 900;
  z-index: 2000;
   -webkit-text-stroke: 2px white;
   text-transform: uppercase;
}

.feature-div {
    background: #292b50;
    padding: 20px;
    margin-top: 10px;
}

